<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title - E-NUM DEMO</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/apple-touch-icon-114x114.jpg">

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/toastr.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" media="all" />

    <!--[if lt IE 9]>
        <script src="~/assets/js/html5.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    @*
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    *@
</head>
<body id="@ViewBag.BodyId">

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script type="text/javascript" src="~/assets/js/jquery.nav.js"></script>*@
    <script type="text/javascript" src="~/assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="~/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/assets/js/headhesive.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

